
  [nz-form-label] {
    overflow: visible;
  }
  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  /* button {
    margin-left: 8px;
  } */
  .valSpan{
    color:blueviolet;
    font-size: 10px;
  }